<div class="form-group">
  <div class="col-sm-4">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", reuiqred: true %>
  </div>  
</div>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username", reuiqred: true %>
  </div>  
</div>

<div class="form-group">
  <div class=" col-sm-4">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    <% if type == 'edit' %>
      <span class="help-block">Leave it blank if you do not want to change password</span>
    <% end %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
    <% if type == 'edit' %>
      <span class="help-block">Leave it blank if you do not want to change password</span>
    <% end %>
  </div>
</div>

<div class="form-group">
  <div class=" col-sm-4">
    <%= f.text_field :firstname, autocomplete: "off", class: "form-control", placeholder: "Firstname" %>
  </div>
</div>

<div class="form-group">
  <div class=" col-sm-4">
    <%= f.text_field :lastname, autocomplete: "off", class: "form-control", placeholder: "Lastname" %>
  </div>
</div>

<div class="form-group">
  <div class=" col-sm-4">
    <%= f.text_field :telephone, autocomplete: "off", class: "form-control", placeholder: "Phone" %>
  </div>
</div>

<div class="form-group">
  <div class=" col-sm-4">
    <%= f.text_field :organization, autocomplete: "off", class: "form-control", placeholder: "Organization" %>
  </div>
</div>

<% if type == 'sign_up' %>
  <div class="form-group">
    <div class="col-sm-4">
      <div class="checkbox">
        <label>
          <%= check_box_tag :terms_and_policy, 1 %>  
          <span> I agree to the <%= link_to 'terms and conditions', page_path('terms') %> and  <%= link_to 'volunteer policy', page_path('policy') %> </span>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <div class="checkbox">
        <label>
          <%= f.check_box :is_under_eighteen %> If you are under 18, please check this box.
        </label>
      </div>
    </div>
  </div>
<% end %>
