<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: ['form-horizontal'], role: 'form' }) do |f| %>
  <%= devise_error_messages! %>
  
  <%= render partial: 'form_inner', locals: {f: f, type: 'sign_up'} %>
  
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Sign up", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
