<div class="panel panel-default">
  <div class="panel-heading"> Events </div>
  <div class="panel-body">
    <p><%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %></p>
    <p><%= link_to 'All Events', events_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> Locations </div>
  <div class="panel-body">
    <p><%= link_to 'New Location', new_location_path, class: 'btn btn-primary' %></p>
    <p><%= link_to 'All Locations', locations_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> Locations </div>
  <div class="panel-body">
    <p><%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %></p>
    <p><%= link_to 'All Categories', categories_path, class: 'btn btn-primary' %></p>
  </div>
</div>