<div class= "row">
  <div class='side-bar col-md-2'>
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"> <%= link_to 'Profile', user_path(@user) %> </li>
      <li class="<%= 'active' if current_page?(user_events_path(@user, 'upcoming')) %>"> 
        <%= link_to 'Upcoming Events', user_events_path(@user, 'upcoming') %> 
      </li>
      <li class="<%= 'active' if current_page?(user_events_path(@user, 'attended')) %>">
        <%= link_to 'Events History', user_events_path(@user, 'attended') %> 
      </li>
      <% if @user.admin? || current_user.super_admin? %>
        <li class="<%= 'active' if current_page?(user_events_path(@user, 'unfinished')) %>">
          <%= link_to 'Unfinished Events', user_events_path(@user, 'unfinished') %> 
        </li>

         <li class="<%= 'active' if current_page?(user_events_path(@user, 'finished')) %>">
          <%= link_to 'Finished Events', user_events_path(@user, 'finished') %> 
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-md-8 col-md-offset-2'>
    <%= yield %>
  </div>
</div>