<div class= "row">
  <div class='side-bar col-md-2'>
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"> <%= link_to 'Profile', user_path(@user) %> </li>
      <li class="<%= 'active' if current_page?(user_events_path(@user, 'upcoming')) %>"> 
        <%= link_to 'Upcoming Events', user_events_path(@user, 'upcoming') %> 
      </li>
      <li class="<%= 'active' if current_page?(user_events_path(@user, 'past')) %>">
        <%= link_to 'Events Histroy', user_events_path(@user, 'history') %> 
      </li>
    </ul>
  </div>
  <div class='col-md-8 col-md-offset-2'>
    <%= yield %>
  </div>
</div>