<% if user_signed_in? %>
  
  <% if event.starting_time > Time.current %>
    <% if current_user.attending_events.include?(event) %>
      <%= link_to 'Cancel', cancel_event_path(event, 'attend'), id: 'cancel_event', class: 'btn btn-danger'  %>
    <% elsif current_user.waiting_events.include?(event) && event.attending_user_count.to_i >= event.slot.to_i %>
      <%= link_to 'Cancel', cancel_event_path(event, 'wait'), id: 'cancel_waiting', class: 'btn btn-danger' %>
    <% elsif  event.attending_user_count.to_i < event.slot.to_i %>
      <%= link_to 'Attend Event', attend_event_path(event, 'attend'), id:'attend_event', class: 'btn btn-success' %>
    <% else %>
      <%= link_to 'Waiting List', attend_event_path(event, 'wait'), id:'wait_event', class: 'btn btn-info' %>
    <% end %>


    <% unless event.not_recurring? || event.monthly? %>
      <% if current_user.attending_recurring_events.include?(event) %>
         <%= link_to 'stop attend future events', stop_attend_recurring_event_path(event), id: 'stop_attend_recurring', class: 'btn btn-danger pull-left'  %>
      <% else %>
        <%= content_tag :button, 'Attend recurring', id:'attend_recurring', class: 'btn btn-primary pull-left', data: { placement: "right" }  %> 
        <div id="popover-head" class="hide">Attend Recurring</div>
        <div id="popover-content" class="hide">
          <%= render partial: 'event_attend_recurring_form', locals: { event: event} %>
        </div>
      <% end %>
    <% end %>

  <% end %>

 

  <% if (can? :show, event) && from != 'detail_page' %>
    <%= link_to 'Details', event_path(event), class: 'btn btn-primary' %>
  <% end %>

  <% if can? :update, event %>
    <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %>
  <% end %>

  <% if can? :destroy, event %>
    <%= link_to 'Destroy', event_path(event), method: 'delete', class: 'btn btn-danger' %>
  <% end %>
<% else %>
  <span class="text-info register-notice"> You need to be a registered user to attend event :)</span>
  <%= link_to "Log in", new_user_session_path(event_id: event.id), class: 'btn btn-primary' %>
  <%= link_to "Sign up", new_user_registration_path(event_id: event.id), class: 'btn btn-success' %>
<% end %>

<script>
  $('#attend_recurring').popover({ 
    html : true,
    title: function() {
      return $("#popover-head").html();
    },
    content: function() {
      return $("#popover-content").html();
    }
  }).on('show.bs.popover', function(){
    $('#recurring_type').selectpicker();
    $('#weekly_count').selectpicker();
  }).on('shown.bs.popover', function(){
    $('#attend_recurring_ending_date').datetimepicker();
  });
</script>
