<ul id='event-content' class="list-unstyled">
  <li class='event-date'>
    <label> Date: </label>
    <div>  <strong><%= event.starting_date_with_full_weekday_name %></strong> </div>
  </li>

  <li class='event-date'>
    <label> Time: </label>
    <div>  
      <strong><%= event.starting_hour %></strong>
      <% if event.ending_time.present? %>
        -  <strong> <%= event.ending_hour %> </strong>
      <% end %> 
    </div>
  </li>

  <li class='event-location'>
    <label> Location: </label>
    <div>  <strong><%= event.location.name if event.location %></strong> </div>
  </li>

  <li class='event-description'>
    <label> Description: </label>
    <div>  <strong><%= event.description %></strong> </div>
  </li>

  <li class='event-slot'>
    <label> Event space: </label>
    <div> 
      <strong>
        <span id='event-attending-count'><%= event.attending_user_count.to_i %></span> / 
        <span id='max-attending-count'> <%= event.slot.to_i %></span>
      </strong> 
    </div>
  </li>

  <% if event.attending_user_count.to_i >= event.slot.to_i %>
    <li class='waiting-list-slot'>
      <label> Waiting list space: </label>
      <div> 
        <strong>
          <span id='event-waiting-list-count'> <%= event.waiting_user_count.to_i %> </span> / 
          <span id='max-waiting-list-count'> <%= event.waiting_list_slot %> </span>
        </strong> 
      </div>
    </li>
  <% end %>

  <% if event.leader %>
    <li class='event-leader'>
      <label> Lead rescuer: </label>
      <div>  <strong><%= event.leader.full_name %></strong> </div>
    </li>
  <% end %>

  <% if from == 'detail_page' && event.instruction? %>
    <li class='event-instruction'>
      <label> Instruction: </label>
      <div>  <strong><%= link_to 'link to instruction', event.instruction.url, target: "_blank" %></strong> </div>
    </li>
  <% end %>

</ul>