<div class="panel panel-default">
  <div class="panel-heading"> <%= event.title %> </div>
  <div class="panel-body">
    <%= render partial: 'events/event_content', locals: { event: event, from: 'thumb' } %>
    <% 
      case status
      when 'reserved' 
        label_class = 'btn-info active'
      when 'unfinished'
        label_class = 'btn-warning active'
      else
        label_class = 'btn-success active'
      end
    %>
    <a href="#" class="btn <%= label_class %> " role="button"> <%= status %> </a>
    <% if status == 'unfinished' %>
      <%= link_to 'Finish it!', finish_form_path(event), class: "btn btn-primary ", role: "button" %> 
    <% end %>
    <%= link_to 'Details', event_path(event), class: 'btn btn-primary' %>
  </div>
</div>