<%= form_for(@event, html: { class: ['form-horizontal'], role: 'form' }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control", rows: '3', placeholder: 'Description..' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.number_field :slot, class: "form-control", placeholder: 'how many volunteers needed?' %>
    </div>
  </div>

  <div class="form-group has-feedback">
    <div class="col-sm-4">
      <div class='input-group date' id='starting-time'>
        <input type='text' name='event[starting_time]' class="form-control" placeholder='when is the event starting?' value="<%= @starting_time if @starting_time %>"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="col-sm-4">
      <div class='input-group date' id='ending-time'>
        <input type='text' name='event[ending_time]' class="form-control" placeholder='when is the event ending?' value="<%= @ending_time if @ending_time %>"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
       <%= f.select(:location_id, Location.all.collect {|location| [location.name, location.id]}, {}, { class: 'selectpicker' }) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.select(:leader_id, User.where('role = 1').collect {|user| [user.full_name, user.id]}, {}, { class: 'selectpicker' }) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.select(:category_id, Category.all.collect {|ca| [ca.name, ca.id]}, {}, { class: 'selectpicker' }) %>
    </div>
  </div>

  <% is_disabled = @event.recurring_type != 'not_recurring' %>
  <div class="form-group">
    <div class="col-sm-4">
      <%= f.select(:recurring_type, [ ['not recurring', 'not_recurring'], ['daily', 'daily'], ['every other day', 'every_other_day'], ['weekly', 'weekly'], ['monthly', 'monthly'] ], {}, { id: 'event_recurring_type', class: 'event_recurring_type selectpicker show-menu-arrow', disabled: is_disabled }) %>
      <% unless @event.not_recurring? %>
        <%= link_to 'stop recurring', '#', data: { toggle: "modal", target: '#confirm-stop-recurring-block' }, class: 'btn btn-warning', id: 'stop_recurring' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <div class='input-group date' id='recurring-time' style='display: none;'>
        <input type='text' name='recurring_ending_date' id='recurring_ending_date' class="form-control" placeholder='when should the event stop recurring?'/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>


  

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Create", class: "btn btn-success" %>
    </div>
  </div>

<% end %>

<% unless @event.not_recurring? %>
<!-- Modal -->
<div class="modal fade" id="confirm-stop-recurring-block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">  Stop Event <%= @event.title %> Recurring </h4>
      </div>
      <div class="modal-body">
        <p class="bg-warning"> Are you sure that you want to stop this event to be recurring? <br/> 
        Once you stop it, recurring events related to this event in the future will be deleted. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= link_to 'Stop Recurring', '#', id: 'confirm_stop_recurring', class: 'btn btn-danger', data: {event_id: @event.id}  %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $('#recurring-time').datetimepicker();

  $(document).on('change', '#event_recurring_type', function(){
    var recurring_ending_date = $('#recurring_ending_date');
    if($(this).val() !== 'not_recurring'){ 
      recurring_ending_date.parent().show();
    }
    else{
      recurring_ending_date.parent().hide();
    }
  });
</script>
