<%= form_for(@event, html: { class: ['form-horizontal'], role: 'form' }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control", rows: '3', placeholder: 'Description..' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.number_field :slot, class: "form-control", placeholder: 'how many volunteers needed?' %>
    </div>
  </div>

  <div class="form-group has-feedback">
    <div class="col-sm-4">
      <input type='text' name='event[date]' id='event_date' class="form-control", placeholder='when is the event?', value="<%= @date if @date %>">
      <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
    </div>

    <div class="col-sm-2">
      <input type='text' name='event[starting_time]' id='event_starting_time' class="form-control" value="<%= @starting_time if @starting_time %>" placeholder='starting time'>
      <span class="glyphicon glyphicon-time form-control-feedback"></span>
    </div>

    <div class="col-sm-2">
       <input type='text' name='event[ending_time]' id='event_ending_time' class="form-control" value="<%= @ending_time if @ending_time %>" placeholder='ending time'>
       <span class="glyphicon glyphicon-time form-control-feedback"></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_field :address, class: "form-control", placeholder: 'Location' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.select(:category_id, Category.all.collect {|ca| [ca.name, ca.id]}, {}, { class: 'selectpicker' }) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <div class="checkbox">
        <label>
           <%= f.check_box :is_recurring %> Is the event recurring?
        </label>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Create", class: "btn btn-success" %>
    </div>
  </div>

<% end %>
