<div class='row' id='calendar-wrapper'>
  <h3 id="month" class="text-center">
    <%= link_to calendar_path(date: @date.prev_month) do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
    <% end %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to calendar_path(date: @date.next_month) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
  </h2>
  <%= calendar @date do |date| %>
    <span class="pull-right"><%= date.day %></span>
    <% if @events_by_date[date.to_s] %>
      <ul class="event-list list-unstyled">
        <% @events_by_date[date.to_s].each do |event| %>
          <li><%= link_to event.title, event, 'data-toggle'=>'modal', 'data-target'=>'#eventModal', href: event_path(event.id) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>


<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel"> Title </h4>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>