
<h1>Listing events</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Leader</th>
      <th>Starting time</th>
      <th>Ending time</th>
      <th>Slot</th>
      <th>Attending user count</th>
      <th>Location</th>
      <th>recurring type</th>
      <th>Pound</th>
      <th>Category</th>
      <th>parent event id</th>
      <th>finished?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= (event.leader.full_name if event.leader) || nil %></td>
        <td><%= event.starting_date %></td>
        <td><%= event.ending_date %></td>
        <td><%= event.slot %></td>
        <td><%= event.attending_user_count %></td>
        <td><%= event.location.name if event.location %></td>
        <td><%= event.recurring_type %></td>
        <td><%= event.pound %></td>
        <td><%= event.category.name %></td>
        <td><%= event.parent_event_id %></td>
        <td><%= event.is_finished? %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
