<div class="row">

<% 
  if @status == 'edit_finish'
    url = update_finish_event_path(@event)
    method = :put
    form_id = 'edit_finish_event'
  else
    url = finish_event_path(@event)
    method = :post
    form_id = 'finish_event'
  end 
%>

<%= form_tag( url, method: method, role: "form", multipart: true, class: ['form-horizontal'], id: form_id) do %>
    
    <div class="form-group">
      <div class="col-sm-4">
        <label>Who attended the event?</label>
        <ul class='list-group'>
          <% @event_attendees.each do |user| %>
              <li class="list-group-item">
                <%= check_box_tag 'user_ids[]', user.id, true %>  
                <span><%= user.full_name %></span>
              </li>
          <% end if @event_attendees%>
        </ul>
      </div>
    </div>

    <div class="form-group" id="total-pound-group">
      <div class="col-sm-4">
        <label>How many pounds of food got delivered at this event?</label>
        <%= text_field_tag 'pound', @event.pound, class: 'form-control' %>
      </div>
    </div>

    <% if @status == 'edit_finish' %>
      <div class="form-group">
        <button type="button" id='category-pound-add-button' class='btn btn-primary'> Add pound for new category </button>
      </div>

      <% @event.events_categories.each do |event_category_record| %>
        <div class="form-group">
          <div class="col-sm-4">
            <label> pounds of food for category </label>
            <%= text_field_tag 'category_pounds[]', event_category_record.pound, class: 'form-control' %>
          </div>
          <div class="col-sm-4">
            <label> category </label>
            <%= select_tag('category_ids[]', options_for_select( Category.all.collect {|category| [category.name, category.id]},  event_category_record.category_id ), { class: 'selectpicker form-control' }) %>
          </div>

          <div class="col-sm-2">
            <button type="button" class="btn btn-default" id="category-pound-remove-button">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="form-group">
        <div class="col-sm-4">
          <label> pounds of food for category </label>
          <%= text_field_tag 'category_pounds[]', nil, class: 'form-control' %>
        </div>
        <div class="col-sm-4">
          <label> category </label>
          <%= select_tag('category_ids[]', options_for_select( Category.all.collect {|category| [category.name, category.id]} ), { class: 'selectpicker form-control' }) %>
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-default" id="category-pound-add-button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
      </div>
    <% end %>

    <div class="form-group hide" id="category-pound-template">
      <div class="col-sm-4">
        <label> pounds of food for category </label>
        <%= text_field_tag 'category_pounds[]', nil, class: 'form-control' %>
      </div>
      <div class="col-sm-4">
        <label> category </label>
        <%= select_tag('category_ids[]', options_for_select( Category.all.collect {|category| [category.name, category.id]} ), { class: 'category_id_picker form-control' }) %>
      </div>
      <div class="col-sm-2">
          <button type="button" class="btn btn-default" id="category-pound-remove-button">
              <span class="glyphicon glyphicon-minus"></span>
          </button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label> Upload Photo</label>
        <%= file_field_tag 'image' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <% receipt_label_text = @status == 'edit_finish' ? 'Reupload Receipt if pounds get changed' : 'Upload Receipt' %>
        <label> <%= receipt_label_text %> </label>
        <%= file_field_tag 'receipt' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <% submit_button_text = @status == 'edit_finish' ? 'Update' : 'Finish Event' %>
        <button type="submit" class="btn btn-primary"> <%= submit_button_text %></button>
       </div>
    </div>

<% end %>
</div>


