
<div id='event-block'>

  <div class='row'>
    <h1><%= @event.title %> <small style="display: block; margin-top: 5px;"> <%= @event.category.name %> </small> </h1>
  </div>

  <div class="row">
    <ul id='event-content' class="list-unstyled">
      <li id='event-date'>
        <label> Date: </label>
        <div>  <strong><%= @event.starting_time.strftime('%A, %B %e, %Y') %></strong> </div>
      </li>

      <li id='event-date'>
        <label> Time: </label>
        <div>  <strong><%= @event.starting_time.strftime('%H:%M %p') %></strong> </div>
      </li>

      <li id='event-location'>
        <label> Location: </label>
        <div>  <strong><%= @event.address %></strong> </div>
      </li>

      <li id='event-description'>
        <label> Description: </label>
        <div>  <strong><%= @event.description %></strong> </div>
      </li>

      <li id='event-slot'>
        <label> Event space: </label>
        <div>  <strong> <span id='event-attending-count'><%= @event.attending_user_count.to_i %></span> / <%= @event.slot %></strong> </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class='button-groups'>
      <% if user_signed_in? %>
        <% if current_user.attending_events.include?(@event) %>
          <%= link_to 'Cancel', cancel_event_path(@event, 'attend'), id: 'cancel_event', class: 'btn btn-danger' %>
        <% elsif current_user.waiting_events.include?(@event) %>
          <%= link_to 'Cancel', cancel_event_path(@event, 'wait'), id: 'cancel_event', class: 'btn btn-danger' %>
        <% elsif  @event.attending_user_count.to_i < @event.slot.to_i %>
          <%= link_to 'Attend Event', attend_event_path(@event, 'attend'), id: 'attend_event', class: 'btn btn-success' %>
        <% else %>
          <%= link_to 'Waiting List', attend_event_path(@event, 'wait'), id: 'attend_event', class: 'btn btn-info' %>
        <% end %>

        <% if can? :update, @event %>
          <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %>
        <% end %>

        <% if can? :destroy, @event %>
          <%= link_to 'Destroy', event_path(@event), method: 'delete', class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
