<div class="row">
  <div class='event-block col-md-6'>
    
      <h1><%= @event.title %> <small style="display: block; margin-top: 5px;"> <%= @event.category.name %> </small> </h1>
      <%= render partial: 'event_content', locals: { event: @event } %>
    
      <div class='button-groups'>
        <%= render partial: 'event_buttons', locals: { event: @event } %>
      </div>
    
  </div>
</div>

<div class="row">
  <div class='comment-block col-md-6'>
    <ul class="media-list">
      <% if current_user %>
        <li class="media">
          <a class="comment-profile-image pull-left" href="#">
            <%= image_tag current_user.avatar.url(:square), class: "media-object", size: '64x64', style: "border-radius: 50%;" %>
          </a>
          <div class="media-body">
            <%= form_tag('/comments', method: 'post', class: 'comment_form' ) do %>
              <%= hidden_field_tag :event_id , @event.id %>
              
              <%= content_tag :div do %>
                  <%= text_area_tag :text, nil, class: "form-control", id: "comment_text", placeholder: "Write a comment..."  %>
              <% end %>

            <% end %> 
          </div>
        </li>
      <% end %>

      <%= render partial: 'comments/comments', locals: { event_id: @event.id, comments: @comments, page: 2 } %>
    
    </ul>
  </div>
</div>