<div id="static-text-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
              <%= image_tag('home_page_pic1.jpg') %>
              <div class="carousel-caption">
                <h3>Exciting News!</h3>
                <p>Our volunteer calendar and rescuer membership will be coming to our website soon so rescuing will be even easier. Subscribe to our newsletter if you want to be alerted as soon as it launches!</p>
              </div>
            </div>

            <div class="item ">
              <%= image_tag('home_page_pic2.jpg') %>
              <div class="carousel-caption">
                <h3>What We Face</h3>
                <p>The United States throws out $165 BILLION dollars worth of food while 1 in 7 people go hungry. <br>Click to find out more and learn what you can do.</p>
              </div>
            </div>

            <div class="item ">
              <%= image_tag('home_page_pic3.jpg') %>
              <div class="carousel-caption">
                <h3>#Rescuer</h3>
                <p>Learn how you can become a Rescuer!</p>
              </div>
            </div>

            <div class="item ">
              <%= image_tag('home_page_pic4.jpg') %>
              <div class="carousel-caption">
                <h3>Stretching Your Dollar</h3>
                <p>Deliveries cost just 2 cents per pound of food. Every dollar goes a long way. <br> Donate now and save a life.</p>
                
              </div>
            </div>
         
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="mission" class="text-center" >
        <p>
          We’re a non-profit organization on a mission to redefine food rescue and end food waste.<br>
          Join the cause. 
        </p>
        <br>
        <%= link_to "LEARN MORE ABOUT RLC", page_path('about'), class: "rlc-button btn btn-success text-center" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div id="home-page-left-column" >
        <%= image_tag 'home_page_intro.jpg' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-page-right-block"> 
        <%= link_to page_path('team') do %>
          <%= image_tag 'home_page_team.jpg' %>
          <p class="textover">THE TEAM</p>
        <% end %>
      </div>
      <div class="home-page-right-block"> 
        <%= link_to page_path('donate-funds') do %>
          <%= image_tag 'home_page_donate.jpg' %>
          <p class="textover">DONATE</p>
        <% end %>
      </div>
    </div>
  </div>

</div>