<p> Event Title: <span > <%= link_to event.title.titleize, event_url(event) %> </span> </p>
<p> Date: <span> <%= event.starting_date_with_full_weekday_name %> </span> </p>
<p> Time: <span> <%= event.starting_hour%> </span> 
<% if event.ending_hour.present? %>
  <span> - <%= event.ending_hour %> </span>
<% end %>
</p>
<p>Location: <span> <%= event.location_name %> </span> </p>
<% if event.address %>
<p>Meeting Location: <span> <%= event.address %> </span> </p>
<% end %>