<p>Dear <%= @user.full_name %>,</p>
<br/>
<p>Your registration for the following event has been cancelled: </p>
<br/>
<p> Event title: <span > <%= @event.title %> </span> </p>
<p> Time: <span> <%= @event.starting_hour %> </span> 
<% if @event.ending_hour.present? %>
  <span> - <%= @event.ending_hour %> </span>
<% end %>
</p>
<p>Location: </span> <span> <%= @event.address %> </span> </p>
<br/>
<p>Please do not hesitate to respond to this email with questions, comments, and feedback. </p>

<p>You are receiving this email because you cancelled this event. Thank you!</p>
<br/>
<p>RLC Team</p>
 