<div class="row">
    
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <div class="left-block">
            <ol>
              <li class="head" style="list-style-type:none">Get Involved
              </li>
            </ol>

            <div >
              <ol>    
                <li>
                  <%= link_to page_path('donate-funds') do %>
                    <%= image_tag "money-m.png" %> --Funds
                  <% end %>
                </li>

                <li>
                  <%= link_to page_path('donate-food') do %>
                    <%= image_tag "food-m.png" %> --Food
                  <% end %>
                </li>

                <li>
                  <%= link_to page_path('volunteer') do %>
                    <%= image_tag "time-m.png" %> --Time
                  <% end %>
                </l
              </ol>
            </div>
          </div><!--footerlist and list2-->
        </div>

        <div class="col-md-6">  
          <div class="left-block">
            <ol>
              <li class="head" style="list-style-type:none">Contact Us</li>
            </ol>
            
            <div>
              <ol>
                <li>
                  <%= link_to 'mailto:info@rescuingleftovercuisine.org' do %>
                    <%= image_tag "mail-m.png" %> --E-Mail
                  <% end %>
                </li>

                <li>
                  <%= link_to 'https://www.facebook.com/RescuingLeftoverCuisine', target: "_blank" do %>
                    <%= image_tag "fb-m.png" %> --FB
                  <% end %>
                </li>

                <li>
                  <%= link_to 'https://twitter.com/rescuingcuisine', target: "_blank" do %>
                    <%= image_tag "tw-m.png" %> --Tweet Us
                  <% end %>
                </li>        
              </ol>
            </div>
          </div><!--floatleft and list2-->
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div style="font-style: italic; font-family: Georgia, Times, serif; font-size: 20px; color: #bfe1f1; margin-top: 20px; padding: 20px;">
        Follow Us
      </div>

      <%= link_to image_tag('facebook.png'), 'https://www.facebook.com/RescuingLeftoverCuisine', target: '_blank' %>
      <%= link_to image_tag('twitter.png'), 'http://www.twitter.com/rescuingcuisine', target: '_blank'  %>
      <%= link_to image_tag('linkedin.png'), 'https://www.linkedin.com/company/rescuing-leftover-cuisine', target: '_blank'  %>
      <%= link_to image_tag('instagram.png'), 'http://www.instagram.com/rescuingleftovercuisine', target: '_blank'  %>
    </div>
              

    <div class="col-md-5">
      <div id="copyright">
        <div id="mc_embed_signup_footer" >
          <form action="http://rescuingleftovercuisine.us3.list-manage.com/subscribe/post?u=eb8417ad697290330d9327a0a&amp;id=375a609773" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal validate" target="_blank" novalidate="" role="form">

              <label for="mce-EMAIL">Join our mailing list!</label>
              <div class="form-group">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required="">
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_eb8417ad697290330d9327a0a_375a609773" value=""></div>

              <div class="form-group">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
              </div>
          </form>
        </div>

        <br>
        <p>All Rights Reserved ♦ Rescuing Leftover Cuisine, Inc. ♦ © Copyright 2014</p>
        <span style="font-size:12px; font-family:Georgia, 'Times New Roman', Times, serif;">Visit again soon for more RLC!</span>
      </div>
    </div> <!--copyright-->

   
</div>