<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
    Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-54835018-1', 'auto');
    ga('send', 'pageview');
    
  </script>

  <!-- Heap Analytics -->
  <% if Rails.env.production? %>
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1029241066");
    </script>

    <% if current_user %>
      heap.identify({ 
        name: '<%= current_user.full_name %>',
        username: '<%= current_user.username %>',
        id: '<%= current_user.id %>',
        email: '<%= current_user.email %>',
        role: '<%= current_user.role %>'
      });
    <% end %>
  <% end %>

</head>
<body>
  <div class="navbar navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= image_tag('RLC_LOGO.png', class: 'pull-left', style: "height: 80px") %>
        <%= link_to site_name, site_url, :class => "navbar-brand", style: 'font-size: 25px; padding-top: 30px; margin-left: 0;' %>
      </div>
      <div class="collapse navbar-collapse" style='padding-top: 21px; font-size: 16px;'>
        <ul class="nav nav-pills pull-right">
          <% if user_signed_in? %>
            <% if current_user.super_admin? %>
              <li> <%= link_to 'Admin', admin_path %> </li>
            <% end %>
            <li> <%= link_to image_tag(current_user.avatar.url(:square), class: 'img-circle', style:'height: 70px; vertical-align:middle;'), user_path(current_user), style: 'margin-top: -30px;' %></li>
            <li ><%= link_to "Log out", destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li> <%= link_to "Log in", new_user_session_path %> </li>
            <li> <%= link_to "Sign up", new_user_registration_path %> </li>
          <% end %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->

  </div><!-- /.navbar -->

 
  <div class="container" id="main-container">
    <div class="row"> 
      <div class="col-xs-12" id="menu">
        <!-- mega menu -->
        <ul class="sky-mega-menu sky-mega-menu-anim-scale sky-mega-menu-response-to-switcher">
          <!--responsive-->
            <li class="switcher">
              <a href="#"><span class="glyphicon glyphicon-align-justify"> </span>Menu</a>
            </li>
          <!--responsive-->
          
          <!-- about -->
            <li aria-haspopup="true">
              <%= link_to page_path('about') do %>  
                <span class="glyphicon glyphicon-star"></span> ABOUT US
              <% end %>
              <div class="grid-container3">
                <ul>
                  <li> 
                    <%= link_to page_path('histroy') do %>
                      <span class="glyphicon glyphicon-globe"> </span> History
                    <% end %> 
                  </li>
                  <li>
                    <%= link_to page_path('team') do %>
                      <span class="glyphicon glyphicon-user"> </span> Our Team
                    <% end %> 
                  </li>
                  <li>
                    <%= link_to page_path('contributor') do %>
                      <span class="glyphicon glyphicon-certificate"> </span> Our Contributors
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          <!--/ about -->
          
          <!-- challenge -->
            <li aria-haspopup="true">
              <%= link_to page_path('challenge') do %>  
                <span class="glyphicon glyphicon-bullhorn"> </span> THE CHALLENGE 
              <% end %>
             
              <div class="grid-container3">
                <ul>
                  <li>
                    <%= link_to page_path('food-waste') do %>
                      <span class="glyphicon glyphicon-trash"> </span> Food Waste
                    <% end %>
                  </li>
                  <li>
                    <%= link_to page_path('food-insecurity') do %>
                      <span class="glyphicon glyphicon-warning-sign"> </span> Food Insecurity
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          <!--/ challenge -->
          
          <!-- contribute -->
            <li aria-haspopup="true">
              <%= link_to page_path('contribute') do %>
                <span class="glyphicon glyphicon-briefcase"> </span> CONTRIBUTE
              <% end %> 
              <div class="grid-container3">
                <ul>
                  <li> 
                    <%= link_to page_path('donate-funds') do %>
                      <span class="glyphicon glyphicon-usd"> </span> Contribute Funds
                    <% end %> 
                  </li>
                  <li> 
                    <%= link_to page_path('donate-food') do %>
                      <span class="glyphicon glyphicon-cutlery"> </span> Contribute Food
                    <% end %> 
                  </li>
                  <li><a href="http://www.rescuingleftovercuisine-cardonations.org/" target="_blank"> <span class="glyphicon glyphicon-send"> </span> Contribute Car!</a></li>
                </ul>
              </div>
            </li>
          <!--/ contribute -->
          
          <!-- volunteer -->
            <li aria-haspopup="true">
              <%= link_to page_path('volunteer') do %>
                <span class="glyphicon glyphicon-user"> </span> VOLUNTEER
              <% end %> 
              <div class="grid-container3">
                <ul>
                  <li>
                    <%= link_to calendar_path do %>
                      <span class="glyphicon glyphicon-calendar"> </span> Current Volunteer Events</a>
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
            <!--/ volunteer -->

          <!-- contact -->
            <li aria-haspopup="true">
              <%= link_to page_path('contact-us') do %>
                <span class="glyphicon glyphicon-envelope"> </span> CONTACT US
              <% end %>
            </li>
          <!--/ contact -->
          
          <!-- blog -->
            <li id="blog" class="pull-right">
              <a href="http://rescuingleftovercuisine.tumblr.com/" target="_blank"> <span class="glyphicon glyphicon-pencil"> </span> BLOG</a>
            </li>
          <!--/ blog -->
        </ul>
        <!--/ mega menu -->   
      </div>    
    </div>

    <% if notice.present? %>
      <p class="alert  alert-success" role="alert"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>


  <footer>
    <div class="container">
     <%= render "layouts/footer" %>
    </div>
  </footer>
 

</body>
</html>
