<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>

  <% if Rails.env.production? %>

    <script type="text/javascript">
      <!-- Google Analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-54835018-1', 'auto');
      ga('send', 'pageview');
      
      <!-- Heap Analytics -->
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1029241066");

      <% if current_user %>
        heap.identify({ 
          name: '<%= current_user.full_name %>',
          username: '<%= current_user.username %>',
          id: '<%= current_user.id %>',
          email: '<%= current_user.email %>',
          role: '<%= current_user.role %>'
        });
      <% end %>

    </script>

  <% end %>

</head>
<body>
<header class="main-header">
  <div class="logo">
    <a href="#">
      <%= image_tag('RLC_LOGO.png') %>
      Rescuing Leftover Cuisine
    </a>
  </div>
  <!-- /.logo -->
  <div class="top">
    <a href="#">Log in</a>
    &nbsp; 
    <a href="#">Sign up</a>
  </div>
  <!-- /.top -->
  <div class="navbar-header2">
    <button type="button" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="main-navigation collapse in" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="donate">
        <a href="#donate">
          <i class="fa fa-gift"></i>
          <span>Donate</span>
        </a>
      </li>
      <li class="active"><a href="#mission">Mission</a></li>
      <li><a href="#schedule">Volunteer Schedule</a></li>
      <li><a href="#partner">Become a Partner</a></li>
      <li><a href="#team">Our Team</a></li>
      <li><a href="#thanks">Special Thanks</a></li>
      <li class="divider"></li>
      <% if user_signed_in? %>
        <% if current_user.super_admin? %>
          <li> <%= link_to 'Admin', admin_path %> </li>
        <% end %>
        <li> <%= link_to current_user.firstname, user_path(current_user) %></li>
        <li ><%= link_to "Log out", destroy_user_session_path, method: 'delete' %></li>
      <% else %>
        <li class="mobile-show"> <%= link_to "Log in", new_user_session_path %> </li>
        <li class="mobile-show"> <%= link_to "Sign up", new_user_registration_path %> </li>
      <% end %>
      <li class="mobile-show"><a href="#">Sign In</a></li>
      <li class="mobile-show"><a href="#">Sign Up</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->

</header>

<div class="announcement">
  <a href="#" class="close"><i class="fa fa-times"></i></a>
  <p>Announcement goes here</p>
</div>
<!-- /.announcement -->

<section class="jumbo" style="background-image: url(/assets/homepage-image.jpg);">
  <div class="inner">
    <div class="container">
      <div class="table-wrapper">
        <div class="img">
          <%= image_tag('RLC_LOGO.png') %>
        </div>
        <!-- /.img -->
        <div class="text">
          <h1>WHAT WE DO</h1>
          <p>We’re a non-profit organization on a mission to redefine food rescue and end food waste.</p>
          <section class="row section2">
            <div class="left col-md-6">
              <div class="orange-line"></div>
              <h3>Urban hunger</h3>
              <p>1 in 7 Americans face food insecurity. 14.5% of households, or 49 million Americans, were hungry, or at risk of hunger, in 2012.</p>
            </div>
            <!-- /.left -->
            <div class="right col-md-6">
              <div class="green-line"></div>
              <h3>Food Waste</h3>
              <p>text goes here</p>
            </div>
            <!-- /.right -->
          </section>
          <!-- /.section2 -->
        </div>
        <!-- /.text -->
      </div>
      <!-- /.table-wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.jumbo -->


<section class="main-section green">
  <div class="left">
    <div class="inner-container">
      <h1>Become a Rescuer</h1>
      <br>

      <p>Rescuers help bring food from our partners to a local NYC homeless shelter. It takes less than an hour and you can set your own schedule, whether you want to help out daily, weekly, or sporadically.
      </p>
      <br>

      <p>
      2 BILLION PEOPLE could be fed yearly with the amount of food America throws away each year – that is enough to end food hunger in the world. Be a part of the solution and join us and other rescuers to help deliver excess food to those who need it.
      </p>
      <br>

      <p><%= link_to "Sign Up with RLC", new_user_registration_path , class: "rlc-button contribute-button btn btn-success text-center" %></p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      form goes here
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.green -->

<section class="main-section yellow">
  <div class="left">
    <div class="inner-container">
      <h1>Header</h1>
      <p>Content goes here</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      form goes here
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.yellow -->

<section class="main-section red">
  <div class="left">
    <div class="inner-container">
      <h1>Become a Partner</h1>
      <p>Content goes here</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      form goes here
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.red -->

<section class="main-section blue">
  <div class="left">
    <div class="inner-container">
      <h1>Donate</h1>
      <p>Content goes here</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      form goes here
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.blue -->

<section class="main-section orange">
  <div class="left">
    <div class="inner-container">
      <h1>Header</h1>
      <p>Content goes here</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      form goes here
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.orange -->



  <div class="navbar navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= image_tag('RLC_LOGO.png', class: 'pull-left', style: "height: 80px") %>
        <%= link_to site_name, site_url, :class => "navbar-brand", style: 'font-size: 25px; padding-top: 30px; margin-left: 0;' %>

        <ul class="nav nav-pills pull-right" style='padding-top: 21px; font-size: 16px;'>
          <% if user_signed_in? %>
            <% if current_user.super_admin? %>
              <li> <%= link_to 'Admin', admin_path %> </li>
            <% end %>
            <li> <%= link_to image_tag(current_user.avatar.url(:square), class: 'img-circle', style:'height: 70px; vertical-align:middle;'), user_path(current_user), style: 'margin-top: -30px;' %></li>
            <li ><%= link_to "Log out", destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li> <%= link_to "Log in", new_user_session_path %> </li>
            <li> <%= link_to "Sign up", new_user_registration_path %> </li>
          <% end %>
        </ul>
      </div>
      
    </div><!-- /.container -->

  </div><!-- /.navbar -->

 
  <div class="container" id="main-container">
    <div class="row"> 
      <div class="col-xs-12" id="menu">
        <!-- mega menu -->
        <ul class="sky-mega-menu sky-mega-menu-anim-scale sky-mega-menu-response-to-switcher">
          <!--responsive-->
            <li class="switcher">
              <a href="#"><span class="glyphicon glyphicon-align-justify"> </span>Menu</a>
            </li>
          <!--responsive-->
          
          <!-- about -->
            <li aria-haspopup="true">
              <%= link_to page_path('about') do %>  
                <span class="glyphicon glyphicon-star"></span> ABOUT US
              <% end %>
              <div class="grid-container3">
                <ul>
                  <li> 
                    <%= link_to page_path('histroy') do %>
                      <span class="glyphicon glyphicon-globe"> </span> History
                    <% end %> 
                  </li>
                  <li>
                    <%= link_to page_path('team') do %>
                      <span class="glyphicon glyphicon-user"> </span> Our Team
                    <% end %> 
                  </li>
                  <li>
                    <%= link_to page_path('contributor') do %>
                      <span class="glyphicon glyphicon-certificate"> </span> Our Contributors
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          <!--/ about -->
          
          <!-- challenge -->
            <li aria-haspopup="true">
              <%= link_to page_path('challenge') do %>  
                <span class="glyphicon glyphicon-bullhorn"> </span> THE CHALLENGE 
              <% end %>
             
              <div class="grid-container3">
                <ul>
                  <li>
                    <%= link_to page_path('food-waste') do %>
                      <span class="glyphicon glyphicon-trash"> </span> Food Waste
                    <% end %>
                  </li>
                  <li>
                    <%= link_to page_path('food-insecurity') do %>
                      <span class="glyphicon glyphicon-warning-sign"> </span> Food Insecurity
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          <!--/ challenge -->
          
          <!-- contribute -->
            <li aria-haspopup="true">
              <%= link_to page_path('contribute') do %>
                <span class="glyphicon glyphicon-briefcase"> </span> CONTRIBUTE
              <% end %> 
              <div class="grid-container3">
                <ul>
                  <li> 
                    <%= link_to page_path('donate-funds') do %>
                      <span class="glyphicon glyphicon-usd"> </span> Contribute Funds
                    <% end %> 
                  </li>
                  <li> 
                    <%= link_to page_path('donate-food') do %>
                      <span class="glyphicon glyphicon-cutlery"> </span> Contribute Food
                    <% end %> 
                  </li>
                  <li><a href="http://www.rescuingleftovercuisine-cardonations.org/" target="_blank"> <span class="glyphicon glyphicon-send"> </span> Contribute Car!</a></li>
                </ul>
              </div>
            </li>
          <!--/ contribute -->
          
          <!-- volunteer -->
            <li aria-haspopup="true">
              <%= link_to page_path('volunteer') do %>
                <span class="glyphicon glyphicon-user"> </span> VOLUNTEER
              <% end %> 
              <div class="grid-container3">
                <ul>
                  <li>
                    <%= link_to calendar_path do %>
                      <span class="glyphicon glyphicon-calendar"> </span> Current Volunteer Events</a>
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
            <!--/ volunteer -->

          <!-- contact -->
            <li aria-haspopup="true">
              <%= link_to page_path('contact-us') do %>
                <span class="glyphicon glyphicon-envelope"> </span> CONTACT US
              <% end %>
            </li>
          <!--/ contact -->
          
          <!-- blog -->
            <li id="blog" class="pull-right">
              <a href="http://rescuingleftovercuisine.tumblr.com/" target="_blank"> <span class="glyphicon glyphicon-pencil"> </span> BLOG</a>
            </li>
          <!--/ blog -->
        </ul>
        <!--/ mega menu -->   
      </div>    
    </div>

    <% if notice.present? %>
      <p class="alert  alert-success" role="alert"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>


  <footer>
    <div class="container">
     <%= render "layouts/footer" %>
    </div>
  </footer>
 

</body>
</html>
